<div class="modal-header">
  <h4 class="modal-title pull-left">Create Event</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <div
      class="mb-3"
      *ngFor="let formControl of formControls"
      [ngSwitch]="formControl.type"
    >
      <label class="form-label" for="{{ formControl.id }}"
        >{{ formControl.label }} <i class="{{ formControl.iconClass }} ms-1"></i
      ></label>
      <input
        *ngSwitchCase="'text'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        placeholder="{{ formControl.placeholder }}"
      />
      <input
        *ngSwitchCase="'password'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        placeholder="{{ formControl.placeholder }}"
      />
      <textarea
        *ngSwitchCase="'textarea'"
        class="form-control"
        [id]="formControl.id"
        rows="3"
        [formControlName]="formControl.name"
        placeholder="{{ formControl.placeholder }}"
      ></textarea>
      <input
        *ngSwitchCase="'checkbox'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        value="{{ formControl.value }}"
        placeholder="{{ formControl.placeholder }}"
      />
      <input
        *ngSwitchCase="'radio'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        value="{{ formControl.value }}"
      />
      <select *ngSwitchCase="'select'" class="form-select">
        <option
          *ngFor="let option of formControl.options"
          value="{{ option.value }}"
        >
          {{ option.displayValue }}
        </option>
      </select>
      <input
        *ngSwitchCase="'file'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
      />
      <input
        *ngSwitchCase="'range'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
      />
      <input
        *ngSwitchCase="'date'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
      />
      <input
        *ngSwitchCase="'color'"
        class="form-control w-25"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
      />
      <input
        *ngSwitchCase="'email'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        placeholder="{{ formControl.placeholder }}"
      />
      <input
        *ngSwitchCase="'tel'"
        class="form-control"
        [type]="formControl.type"
        [id]="formControl.id"
        [formControlName]="formControl.name"
        placeholder="{{ formControl.placeholder }}"
      />
    </div>
    <div class="form-footer">
      <button class="btn btn-outline-primary me-4" type="submit">Submit</button>
      <button class="btn btn-outline-danger" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
