<div class="row mb-2" id="controlConfig">
  <div class="col">
    <h1 class="mb-3">
      Control Setting -<span
        class="ms-2 fw-bold"
        *ngIf="mode === Mode.Add; else controlName"
        >New</span
      >
      <ng-template #controlName>
        <span class="ms-2 fw-bold">{{ control?.name }}</span>
      </ng-template>
      <span
        ><button
          type="button"
          class="btn btn-success btn-sm ms-3"
          (click)="saveControl()"
          [disabled]="!controlForm.dirty"
        >
          <span class="button-label">save</span>
        </button></span
      >
      <span
        ><button
          type="button"
          class="btn btn-danger btn-sm ms-2"
          (click)="deleteControl()"
          *ngIf="!(mode === Mode.Add)"
        >
          <span class="button-label">delete</span>
        </button></span
      >
    </h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="controlForm">
      <div class="row mb-4 align-items-center">
        <div class="col">
          <label for="name" class="mb-2"
            >Name<i
              class="bi bi-info-circle ms-2"
              tooltip="Name of the control. Used to uniquely identify the control for the given layout."
            ></i
          ></label>
          <input
            id="name"
            type="text"
            class="form-control"
            [value]="control?.name"
            formControlName="name"
          />
        </div>
        <div class="col">
          <label for="description" class="mb-2"
            >Description<i
              class="bi bi-info-circle ms-2"
              tooltip="Describe what value the control represents. These descriptions appear in the generated report when a user hovers over a book icon next to the control label."
            ></i
          ></label>
          <input
            id="description"
            type="text"
            class="form-control"
            [value]="control?.description"
            formControlName="description"
          />
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col">
          <label for="cellSource" class="mb-2"
            >Cell Source<i
              class="bi bi-info-circle ms-2"
              tooltip="Indicates where in the Excel workbook values will be pulled from for this field. E.g. If this is set to D5, then it pulls the value from D5 in the provided workbook during report creation."
            ></i
          ></label>
          <input
            id="cellSource"
            type="text"
            class="form-control"
            [value]="control?.cellSource"
            formControlName="cellSource"
          />
        </div>
        <div class="col">
          <label for="label" class="mb-2"
            >Label<i
              class="bi bi-info-circle ms-2"
              tooltip="Determines what the field appears as in the generated report."
            ></i
          ></label>
          <input
            id="label"
            type="text"
            class="form-control"
            [value]="control?.label"
            formControlName="label"
          />
        </div>
        <div class="col">
          <label class="form-check-label" for="required"
            >Required<i
              class="bi bi-info-circle ms-2"
              tooltip="When the 'Required' flag is turned on, during report creation if there is no value provided based on the cell source, the process will not continue. Turned off by default."
            ></i
          ></label>
          <div class="form-check form-switch">
            <input
              class="form-check-input mt-2"
              type="checkbox"
              id="required"
              [checked]="control?.required"
              formControlName="required"
            />
          </div>
        </div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col">
          <label for="section" class="mb-2"
            >Section<i
              class="bi bi-info-circle ms-2"
              tooltip="Identifies the section this control will appear in."
            ></i
          ></label>
          <input
            id="section"
            type="number"
            class="form-control"
            [value]="control?.section"
            formControlName="section"
          />
        </div>
        <div class="col">
          <label for="row" class="mb-2"
            >Row<i
              class="bi bi-info-circle ms-2"
              tooltip="Identifies the row this control will appear in."
            ></i
          ></label>
          <input
            id="row"
            type="number"
            class="form-control"
            [value]="control?.row"
            formControlName="row"
          />
        </div>
        <div class="col">
          <label for="order" class="mb-2"
            >Order<i
              class="bi bi-info-circle ms-2"
              tooltip="Identifies the order the control will appear in. While controls can share the same order value, in these cases the order cannot be guaranteed. Recommended to set unique values for order per control."
            ></i
          ></label>
          <input
            id="order"
            type="number"
            class="form-control"
            [value]="control?.order"
            formControlName="order"
          />
        </div>
        <div class="row mb-4 align-items-center">
          <div class="col-4"></div>
        </div>
      </div>
    </form>
  </div>
</div>
