th {
  font-size: 150%;
}

td {
  font-size: 120%;
  cursor: pointer;
}

button {
  font-family: inherit;
}

table {
  box-shadow: 2x 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
  border: 1px solid rgba(236, 240, 241);
  padding: 25px;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
