<h1>Generate Report From Excel</h1>
<div class="row mb-2">
  <div class="col">
    <p class="lead">
      To generate a report from Excel, begin by selecting a
      <strong>layout</strong> for the report. Then enter the
      <strong>client name</strong> which will appear in the report header.
      Finally, select the source file which contains the data to be displayed in
      the selected layout.
    </p>
  </div>
</div>
<hr />
<form [formGroup]="generateForm" class="w-75">
  <div class="row mb-3">
    <div class="col-6">
      <label for="template" class="mb-2">
        Layout<i class="bi bi-info-circle ms-2"></i
      ></label>
      <select
        id="layout"
        class="form-control"
        required
        name="layout"
        formControlName="layout"
      >
        <option *ngFor="let layout of layouts" [value]="layout.id">
          <div *ngIf="loadingLayouts; else layoutDetail">Loading ...</div>
          <ng-template #layoutDetail>
            {{ layout.name }} - {{ layout.description }}
          </ng-template>
        </option>
      </select>
    </div>
    <div class="col-6">
      <label for="clientName" class="mb-2">
        Client Name<i class="bi bi-info-circle ms-2"></i
      ></label>
      <input
        type="text"
        name="clientName"
        class="form-control"
        id="clientName"
        formControlName="clientName"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6">
      <label for="sourceFile" class="mb-2"
        >Source File<i class="bi bi-info-circle ms-2"></i
      ></label>
      <input
        id="sourceFile"
        class="form-control"
        type="file"
        (change)="onFileChange($event)"
        name="sourceFile"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <span>
        <button
          id="generateReport"
          class="btn btn-success"
          (click)="generateReport()"
          type="submit"
          [disabled]="!generateForm.valid"
        >
          CREATE REPORT
        </button></span
      >
    </div>
  </div>
</form>
