<div class="row mb-3">
  <div class="col"><h3>Templates</h3></div>
  <hr style="color: rgba(171, 183, 183)" />
  <div>Access your form templates to view, edit or delete your layout.</div>
</div>
<div class="row mb-3">
  <div class="col"><h3>Clients</h3></div>
  <hr style="color: rgba(171, 183, 183)" />
  <div>Access client information to view, edit or delete your clients.</div>
</div>
<div class="row mb-3">
  <div class="col"><h3>Open Files</h3></div>
  <hr style="color: rgba(171, 183, 183)" />
  <div>here goes the form instances that were recently accessed ..</div>
</div>
<div class="row">
  <div class="col"><h3>Closed Files</h3></div>
  <hr style="color: rgba(171, 183, 183)" />
  <div>here goes the form instances that were recently accessed ..</div>
</div>
