<section id="reportConfig">
  <div class="row mb-2">
    <div class="col">
      <h1 class="mb-3">
        Layout Setting -<span
          class="ms-2 fw-bold"
          *ngIf="mode === Mode.Add; else layoutName"
          >New</span
        >
        <ng-template #layoutName>
          <span class="ms-2 fw-bold">{{ layout?.name }}</span>
        </ng-template>
        <span
          ><button
            class="btn btn-success btn-sm ms-3"
            type="submit"
            form="formConfig"
            [disabled]="!layoutConfig.dirty"
          >
            SAVE
          </button></span
        >
        <span
          ><button
            type="button"
            class="btn btn-danger btn-sm ms-2"
            (click)="deleteLayout()"
            *ngIf="mode === Mode.Edit"
          >
            DELETE
          </button></span
        >
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="lead">
        Set configuration to describe the structure of a given layout. Layouts
        are comprised of individual controls that appear on created reports
        based on the Excel source data provided by you.
      </p>
    </div>
  </div>
  <hr />
  <form
    id="formConfig"
    [formGroup]="layoutConfig"
    (ngSubmit)="saveLayout()"
    class="mb-3 mt-3"
  >
    <div class="row mb-4">
      <div class="col-6">
        <label for="name" class="mb-2"
          >Name<i class="bi bi-info-circle ms-2"></i
        ></label>
        <input
          id="name"
          type="text"
          class="form-control"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="col-6">
        <label for="description" class="mb-2"
          >Description<i class="bi bi-info-circle ms-2"></i
        ></label>
        <input
          id="description"
          type="text"
          class="form-control"
          placeholder="Description"
          formControlName="description"
        />
      </div>
    </div>
    <div class="row" *ngIf="!(mode === Mode.Add)">
      <div class="col">
        <h2>
          Controls<i class="bi bi-card-list ms-2"></i
          ><span
            ><button
              type="button"
              class="btn btn-success btn-sm ms-3"
              (click)="addControl()"
              [routerLink]="['.']"
              fragment="controlConfig"
            >
              ADD
            </button></span
          >
        </h2>
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th scope="col">Name<i class="bi bi-info-circle ms-2"></i></th>
              <th scope="col">
                Cell Source<i class="bi bi-info-circle ms-2"></i>
              </th>
              <th scope="col">Section<i class="bi bi-info-circle ms-2"></i></th>
              <th scope="col">Row<i class="bi bi-info-circle ms-2"></i></th>
              <th scope="col">Order<i class="bi bi-info-circle ms-2"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let control of layout?.controls; let i = index"
              (click)="selectControl(control)"
              [routerLink]="['.']"
              fragment="controlConfig"
            >
              <td>{{ control.name }}</td>
              <td>{{ control.cellSource }}</td>
              <td>{{ control.section }}</td>
              <td>{{ control.row }}</td>
              <td>{{ control.order }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
<section id="controlConfig">
  <app-layout-control
    *ngIf="showControlConfig"
    (controlSaved)="onControlSaved($event)"
    (controlDeleted)="onControlDeleted($event)"
  ></app-layout-control>
</section>
