<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand ms-3" routerLink="/" routerLinkActive="active"
      ><span class="logo display-6">ReportJewel <i class="bi bi-gem"></i></span
    ></a>
  </div>
  <div
    class="dropdown"
    *ngIf="userService.currentUser$ | async as user"
    dropdown
  >
    <a
      class="dropdown-toggle text-light text-decoration-none me-5"
      dropdownToggle
      >Welcome {{ user.username }}</a
    >
    <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
  <form
    *ngIf="!(userService.currentUser$ | async)"
    [formGroup]="loginForm"
    class="d-flex w-75"
    (ngSubmit)="login()"
    autocomplete="off"
  >
    <input
      name="username"
      class="form-control me-2"
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <input
      name="password"
      class="form-control me-3"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <button
      class="btn btn-success btn-sm me-5"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      <span class="button-label">login</span>
    </button>
  </form>
</nav>
