<h1>Client - {{ client?.name }}</h1>
<form #generateReportForm="ngForm" class="w-75">
  <div class="row mb-4">
    <div class="col-4">
      <label for="template" class="mb-2"> Template</label>
      <select
        id="selectedTemplate"
        class="form-control"
        required
        name="selectedTemplate"
        [(ngModel)]="selectedTemplate"
      >
        <option *ngFor="let form of forms" [value]="form.id">
          <div *ngIf="loadingForms; else formDetail">Loading ...</div>
          <ng-template #formDetail>
            {{ form.name }} - {{ form.description }}
          </ng-template>
        </option>
      </select>
    </div>
    <div class="col-4">
      <label for="sourceFile" class="mb-2">Source File</label>
      <input
        id="sourceFile"
        class="form-control"
        type="file"
        (change)="onFileChange($event)"
        name="sourceFile"
        ngModel
      />
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-left">
    <div class="col-4">
      <span>
        <button
          id="generateReport"
          class="btn btn-info"
          (click)="generateReport()"
          type="submit"
          [disabled]="!sourceFile || selectedTemplate.length === 0"
        >
          CREATE REPORT
        </button></span
      >
    </div>
  </div>
</form>
