<div class="d-flex justify-content-center align-items-center">
  <button class="btn btn-primary me-4">
    <i class="bi bi-arrow-left"></i>
  </button>
  <select
    class="form-select form-select-md me-3 w-25"
    [(ngModel)]="selectedMonth"
    (change)="onMonthSelected($event)"
  >
    <option value="" class="fw-light" selected disabled hidden>
      <span class="fw-light">Select a month ...</span>
    </option>
    <option *ngFor="let month of months; let i = index" value="{{ i }}">
      {{ month }}
    </option>
  </select>
  <select class="form-select form-select-md w-25">
    <option selected>2024</option>
  </select>
  <button class="btn btn-primary ms-4">
    <i class="bi bi-arrow-right"></i>
  </button>
</div>

<div class="mt-4">
  <div class="row" *ngFor="let dateBatch of dateBatches">
    <app-calendar-item
      *ngFor="let date of dateBatch.dates"
      [date]="date"
      class="col-sm-1 ms-5 mb-2"
      (calendarItemClicked)="onCalendarItemClick()"
    ></app-calendar-item>
  </div>
</div>

<app-modal></app-modal>
