<div class="card-deck" style="display: flex">
  <div class="card w-25 me-2">
    <div class="card-body">
      <h5 class="card-title">+ Add New Verification Form</h5>
      <p class="card-text">
        Adds a new form that can be used to send to clients for verification.
      </p>
    </div>
  </div>
  <div class="card w-25">
    <div class="card-body">
      <h5 class="card-title">Mortgage Approval Form</h5>
      <p class="card-text">
        Contains a set of fields commonly used for the mortgage approval
        process.
      </p>
    </div>
  </div>
</div>
